.is-paddingless-x {
  padding: {
    left: 0 !important;
    right: 0 !important;
  }
}

.is-paddingless-y {
  padding: {
    top: 0 !important;
    bottom: 0 !important;
  }
}

.is-vertical-center {
  display: flex;
  align-items: center;
}

.is-height-max {
  height: calc(100vh - 12px)
}

input,
.input {
  box-shadow: none !important;
  border-radius: 0 !important;
  border: {
    width: 2px;
  }
}

.is-white {
  background: #FFFFFF !important;
}


/* Behind Line */
.behind-line {
  position: relative;
  z-index: 1;
  &:before {
    border-top: 2px solid #dfdfdf;
    content:"";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 100%;
    z-index: -1;
  }

  span {
    /* to hide the lines from behind the text, you have to set the background color the same as the container */
    background: #fff;
    padding: 0 15px;
  }
}
