// Cursors
// =======

$cursor: (
  auto,
  crosshair,
	default,
	e-resize,
	help,
	move,
	n-resize,
	ne-resize,
	nw-resize,
	pointer,
	progress,
	s-resize,
	se-resize,
	sw-resize,
	text,
	w-resize,
	wait,
	inherit
);

@each $i in $cursor {
  .cursor.#{nth($i, 1)} {
    cursor: nth($i, 1) !important;
    * {
      cursor: inherit;
    }
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
