.similar-input {
  border: {
    width: 2px;
    style: solid;
    color: #dbdbdb;
  }
    border-radius: 0;
    box-shadow: none;
    font-size: 1rem;
    height: 1.9em;
    line-height: .7;
    padding: calc(0.375em - 1px) calc(0.625em - 1px);
    position: relative;
    background-color: white;
    color: #363636;
    max-width: 100%;
    width: 100%;
}


.default-size {
  padding: 1em 1em ;
  height: auto;
}
